<html>
<head>
  <title>2017/07/16 RIL 勉強会</title>
</head>
<body>
<%= @message %><br />
<%= @sum %>
<% if not @name.nil? %>
<br />
<%= @name %> さん
<% end %>
<form action="/posted" method="POST">
  <input type='text' name='name'></input>
  <button class='waves-effect waves-light btn-large red' type='submit' name='action' value='send'>決定</button>
</form>
</body>
</html>